body {
    font-family: sans-serif;
    margin: 0 auto;
}

.header__menu{
    margin-left: 1%;
    padding-inline-start: 10%;
}
.header__image {
    filter: drop-shadow(0 0 0.75rem #CCC1AB);
    max-height: 10%;
    max-width: 10%;
    margin-left: 5%;
}
.header__menu__li {
    list-style-type: none;
}

.header__menu__link {
    text-decoration: none;
    outline: none;
}

h1 {
    font-weight: lighter;
    color: #8C42CB;
    text-align: center;
}

h2 {
    color: #8C42CB;
    margin-left: 2%;
    letter-spacing: 2px;
}

h3 {
    color: #8C42CB;
    margin-left: 3%;
}
p {
    font-size: 100%;
    margin-left: 3%;
    text-transform: capitalize;
}

.main {
    margin-left: 13%;
    padding: 0 10px;
}
.main__section {
    margin-left: 2%;
    font-size: 100%;
}
.footer {
    margin-left: 13%;
    padding: 0 10px;
}
.footer__ul {
    font-size: 100%;
}

.header__menu__li {
    line-height: 22px;
    text-align: left;
}

.main__dl dt {
    margin-left: 3%;
    color: #8C42CB;
}

.main__dl dd {
    margin-left: 4%;
}

.sidenav__header__menu {
    height: 100%;
    width: 11%;
    position: fixed;
    font-size: 110%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.main__table {
    margin-left: 2%;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #555;
}
.main__th {
    color: #8C42CB;
    padding: 10px;
    border: 1px solid #555;
    font-weight: bold;
    text-align: left;
}
.main__td {
    list-style:none;
    padding: 10px;
    border: 1px solid #555;
}
.main__table tr:nth-child(2n) {
    background-color: #C9E4F6;
}
@media screen and (max-width: 400px) and (max-width: 700px) {
    .header__image{
        display: none;
    }
    .sidenav__header__menu {
        height: 100%;
        width: 14%;
        position: fixed;
        font-size: 90%;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10px;
    }
}